.jumbotron{
  height: 545px;
}

.navbar-header a {
color: #333;
text-decoration: none;
}

.nav>li>a {
color: #333;
text-decoration: none;
}

#menu{
  position: fixed;
  margin-left: 60%;
  float:right;
}